@use '../base/variables' as v;

//MediaQuerys
@mixin mqPhone {
    @media (min-width: v.$phone) {
        @content
    }
}
@mixin mqTablet {
    @media (min-width: v.$tablet) {
        @content
    }
}
@mixin mqDesktop {
    @media (min-width: v.$desktop) {
        @content
    }
}
@mixin mqDesktopXL {
    @media (min-width: v.$desktopXL) {
        @content
    }
}

//grid
@mixin grid($columns : 2, $gap : 5rem) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}